@use "/src/styles/_variables.scss" as var;

.badge {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  border-radius: var.$radius-pill;
  background: #ffe9d5;
  color: #b77039;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 16px;
}
