@use "/src/styles/_variables.scss" as var;

.row {
  display: inline-flex;
  gap: 4px;
  .star {
    width: 16px;
    height: 16px;
    display: inline-block;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    background: #ffd166;

    &.empty {
      background: #ffe6a6;
    }
    &.half {
      background: linear-gradient(90deg, #ffd166 50%, #ffe6a6 50%);
    }
    &.full {
      background: #ffd166;
    }
  }
}
